mixin all_cruddies(data)
    
    div.crudbox
        each cruddy in data.cruddy_list
            - var roll = Math.floor(Math.random() * 5);
            - var action = ''
            - if (roll > 3) action = 'walking'
            - else if (roll > 2) action = 'sitting'
            div.crud(topItem=cruddy.topItem frontItem=cruddy.frontItem )
                .crudfoot2
                .crudfoot1

                .crudfelt1
                .bod.crudbod1(style=`background-color: ${cruddy.color}`)
                .crudfelt2
                .bod.crudbod2(style=`background-color: ${cruddy.color}`)

                .eye1
                .eye2

                .top-item-box.item-box.hidden
                    if cruddy.topItem
                        each layer in JSON.parse(cruddy.topItem).layers
                            .item.felt(style=`background-color: ${layer.color}; clip-path: ${layer.clipPath}`)

                .front-item-box.item-box.hidden
                    if cruddy.frontItem
                        each layer in JSON.parse(cruddy.frontItem).layers
                            .item.felt(style=`background-color: ${layer.color}; clip-path: ${layer.clipPath}`)

                form(method='POST' action='').deletebox 

                    div= JSON.parse(cruddy.world[0]).name

                    label(for=cruddy._id ).colorbtn= cruddy._id
                    input(type="checkbox" id=cruddy._id name='id' value=cruddy._id required)


                    button(type='submit') Delete
