extends layout 

block content
    div#world
        

        div#sky
            div= world.name

        div#ground
            each cruddy in cruddy_list

                if String(JSON.parse(cruddy.world[0])._id) === String(world._id)

                    div.crud.stacked(id=`${cruddy._id}`)
                        .crudfoot2
                        .crudfoot1

                        .crudfelt1
                        .bod.crudbod1(style=`background-color: ${cruddy.color}`)
                        .crudfelt2
                        .bod.crudbod2(style=`background-color: ${cruddy.color}`)
                        .eye1
                        .eye2

                        .top-item-box.item-box.hidden
                            if cruddy.topItem
                                each layer in JSON.parse(cruddy.topItem).layers
                                    .item.felt(style=`background-color: ${layer.color}; clip-path: ${layer.clipPath}`)

                        .front-item-box.item-box.hidden
                            if cruddy.frontItem
                                each layer in JSON.parse(cruddy.frontItem).layers
                                    .item.felt(style=`background-color: ${layer.color}; clip-path: ${layer.clipPath}`)

                        .bubble.hungry 🍏
                        .bubble.dying 💀
                        .bubble.playing 🕺
                        .bubble.score 123


                        form(method='POST' action='').deletebox 
                            div= JSON.parse(cruddy.world[0]).name

                            label(for=cruddy._id ).colorbtn= cruddy._id
                            input(type="checkbox" id=cruddy._id name='id' value=cruddy._id required)


                            button(type='submit') Delete
            each val in [1, 2, 3]
                .bush.stacked(id=`bush${val}`)
                    .bushshadow
                    .mainbush.felt
                    .berry1.custom-button.uneaten
                    .berry2.custom-button.uneaten

            #dancemachine.stacked.felt

                #legs
                    #left
                    #right

                    #pad
                        #left
                            div
                        #right 
                            div
                

                
                #side
                    .roller
                    .roller
                #boardbox
                    #board
                    #bottom
                        #lefticon
                        #righticon




                
            

    script(src='/javascripts/world.js')